@media only screen and (min-width:992px) {

    .about-me img {
        margin-top: 30px;
    }

}

@media only screen and (min-width:768px) and (max-width: 992px) {

    .about-me img {
        margin-top: 60px;
        width: 100%;
    }

}

@media only screen and (max-width:768px) {

    nav ul {
        display: none !important;
    }

}

@media only screen and (max-width:500px) {

    .header-content h6 {
        font-size: 14px;
    }

    .header-content i {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

}

@media only screen and (max-width: 360px) {
    footer p {
        font-size: 14px;
    }
}
