html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*  Custom Buttons */

.btn1 {
    background: #48b1bf !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 40px;
    border-radius: 500px;
    transition: 0.2s ease;
    border: solid 1px #48b1bf;
}

.btn1:hover {
    background: none !important;
    border: solid 1px white !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


/* Header */

header {
    background: url(images/banner1.jpg);
    height: 100vh;
}

.header-content h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}

nav ul li a {
    color: white !important;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    transition: 0.3s ease;
    letter-spacing: 1px;
}

nav ul li a:after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: white;
    transition: 0.3s ease;
    margin-top: 5px;
}

nav ul li a:hover:after {
    width: 115%;
}

.header-content h6 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header-content i {
    color: white;
}

/* Section */

section h3 {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2em !important;
    text-align: center;

}

#skills {
    background: #222222;
}

.skills h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.skills ul {
    padding: 0;
}

.skills ul li {
    color: white;
    display: block;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px;
}

.skills i {
    color: white;
    font-size: 30px;
    /*
    padding-top: 10px;
*/
}

.skills ul li img {
    width: 24px;
    margin-right: 10px;
}

.my-skills {
    min-height: 200px;
}

.break {
    background: #333333;
    height: 2px;
    margin: 20px 0;
}

.media img {
    width: 15%;
    margin-right: 20px;
}

.media h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333333;
}

.media p {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.projects img {
    padding: 10px;
}

.projects img:hover {
}

.projects h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #444444;
}

.projects .nav-pills .nav-item {
    width: 33%;
    margin: auto;
    float: left;
}

.projects .nav-pills .nav-link {
    color: #444444;
/*    border: solid 1px black;*/
    border-radius: 0;
    text-align: center;
    border-right: none;
}

.projects .nav-pills .nav-link {
   background: #eee !important;
    border-radius: 10px;
}

.projects .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #48b1bf !important;
    color: white !important;
    border-radius: 10px;
/*    border: solid 1px #48b1bf !important;*/
}

.card {
    box-shadow: 0 0 10px #ccc;
    border-radius: 12px;
/*    border: none !important;*/
}

.card p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.card-body img{
    width: 26px;
    padding: 0;
    margin: 0 4px;
}

.about-me p {
    font-family: 'Poppins', sans-serif;
    color: #444444;
    margin-top: 50px;
}

.about-me img {
    width: 50%;
}

.developer-story p {
    font-family: 'Poppins', sans-serif;
    color: #444444;
    margin-top: 50px;
}

.developer-story img {
    width: 50%;
}

.contact-details i {
    /*
    background: linear-gradient(to right, #69AFE0, #48b1bf);
    */

    background: #48b1bf;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Chrome 10-25, Safari 5.1-6 */
    font-size: 36px;
}

.contact-details h5 {
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.contact-details p {
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-bottom: 0px;
}

.contact-details p:hover {
    color: #48b1bf;
}

/* Footer */

footer {
    background: #222222;
}

footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

footer i {
    margin-left: 10px;
}


/* Flash class and keyframe animation */

.flashit {
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 2s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}
